:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --bg-color: #e5e5e5;
  --second-bg-color: #f5f4fa;
  --icons-color: #afb1b8;
  --title-font: "Roboto", sans-serif;
  --grid-item: 2;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ссылки, кнопки общее */

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

.link {
  transition: color var(--animation);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: aqua; */
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}
.list .social-icons {
  margin-top: 16px;
}

.social-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--animation),
    fill var(--animation);
}
.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);

  transition: fill var(--animation);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}
.social-icons-link:hover .icon,
.social-icons-link:focus .icon {
  fill: var(--dark-bg-text-color);
}

/* шапка */
.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 26px;
  margin-right: 90px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-color);
}
.logo-item {
  padding-top: 24px;
  padding-bottom: 26px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-link {
  display: inline-block;
  text-decoration: none;
}
.mane-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: inline-flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link,
.auth-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 30px;
}

.link.current {
  position: relative;
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-item {
  margin-right: 10px;
  fill: var(--icons-color);

  transition: fill var(--animation);
}

.link:hover .icon-item,
.link:focus .icon-item {
  fill: var(--accent-color);
}

.frame {
  border-bottom: #ececec solid 1px;
}

/* герой*/

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imgbg.jpg);
  min-height: 600px;
  background-color: var(--dark-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.hero-button,
.submit-button {
  display: block;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: var(--accent-color);

  transition: background-color var(--animation);
}

.hero-button:hover,
.hero-button:focus,
.submit-button:hover,
.submit-button:focus {
  background-color: #188ce8;
}

/* особенности */

.accent-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--title-color);
}
.accent {
  display: flex;
  align-items: baseline;
}
.accent-item:not(:last-child) {
  margin-right: 30px;
}
.accent-item {
  max-width: 270px;
}

.accent-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.accent-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}
.section-accent {
  padding-top: 94px;
  padding-bottom: 0;
}
/* примеры работ */

.doing-item {
  --grid-item: 3;
  position: relative;
}

.doing-lable {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--dark-bg-text-color);
}

/* команда */

.caption-title,
.doing-title,
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  color: var(--title-color);
}

.caption-member {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
}

.member-position {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.caption-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  --grid-item: 4;
  text-align: center;
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.block {
  padding-top: 94px;
  padding-bottom: 94px;
}

.second-bg {
  background-color: var(--second-bg-color);
}

/* постоянные клиенты */

.clients-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transition: fill var(--animation);
}

.clients-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);

  transition: border var(--animation);
}

.clients-icons-link:hover,
.clients-icons-link:focus {
  border-color: var(--accent-color);
}

.clients-icons-link:hover .icon,
.clients-icons-link:focus .icon {
  fill: var(--accent-color);
}

.clients-icons-item + .clients-icons-item {
  margin-left: 30px;
}

/* портфолио */

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  border: transparent;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 50px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);
  outline: var(--accent-color);

  transition: color var(--animation),
    background-color var(--animation),
    box-shadow var(--animation);
}

.button.current,
.button:hover,
.button:focus,
.button:active {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
              0px 1px 2px rgba(0, 0, 0, 0.08),
              0px 2px 2px rgba(0, 0, 0, 0.12);
}

.exampls-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.exampls-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.thumb {
  position: relative;
  overflow: hidden;
  
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: transform var(--animation),
              background-color var(--animation);
  transform: translateY(101%);
}


.link:hover .overlay,
.link:focus .overlay{
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.exampls-item > .link{
  display: block;
}

.exampls-item > .link:hover,
.exampls-item > .link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
              0px 4px 4px rgba(0, 0, 0, 0.06),
              1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-overlay {
  font-size: 18px;
  line-height: 1.55;
  width: 322px;
  margin-bottom: 0;
  color: var(--dark-bg-text-color);
}

.card-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.exampls-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  --grid-item: 3;
}




/* footer */

address {
  font-style: normal;
}

.address-item {
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--dark-bg-text-color);
}

.address-item-det {
  color: rgba(255, 255, 255, 0.6);
}

.address-item-det:not(:last-child) {
  margin-bottom: 9px;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--dark-bg-text-color);
  text-decoration: none;
}

.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--accent-color);
}

.bottom {
  padding-top: 60px;
  padding-bottom: 60px;
}


.footer {
  display: flex;
  align-items: baseline;
}

.footer-item-one,
.footer-item-two {
  margin-right: 30px;
  flex-basis: calc((50% - 45px) / 2);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link .icon {
  fill: var(--dark-bg-text-color);
}

.footer-item-three{
  flex-basis: calc(50% - 15px);
}

.subscribe-form{
  display: flex;
  justify-content: center;
  align-items: center;
}


.connect-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.subscribe-input{
  width: 360px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-bg-color);
  cursor: pointer;

  transition: border var(--animation);
}

.subscribe-input:hover{
  border: 1px solid var(--accent-color);
}

.subscribe-input:focus{
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

.subscribe-input::placeholder{
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button{
  display: flex;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  transition: background-color var(--animation);
}

.subscribe-button:hover,
.subscribe-button:focus{
  background-color: #188ce8;
}

.subscribe-icon{
  fill: var(--dark-bg-text-color);
  margin-left: 10px;
}

/* темный фон */

.darck-bg {
  background-color: var(--dark-bg-color);
}

/* модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 530px;
  min-height: 580px;
  padding: 40px;
  background-color: var(--dark-bg-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: trasform var(--animation);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 15px;

  background-color: var(--dark-bg-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  outline: var(--accent-color);
}

.close-icon{
  position: absolute;

  transition: fill var(--animation);
}

.close-modal:hover .close-icon,
.close-modal:focus .close-icon{
  fill: var(--accent-color);
}

.modal-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 4px;
  color: var(--title-color);
}

.modal-form{
  /* outline: 1px solid green; */
}

.modal-field{
  /* outline: 1px solid blue; */
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-input{
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  min-height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: var(--accent-color);

  transition: border var(--animation);
}

.modal-label{
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-textarea{
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  outline: var(--accent-color);

  transition: border var(--animation);
}

.modal-textarea::placeholder{
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-icon{
  position: absolute;
  top: 50%;
  left: 12px;
  /* transform: translateY(-50%); */

  width: 18px;
  height: 18px;
  
  transition: fill var(--animation);
}

.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus{
  border: 1px solid var(--accent-color);
}


.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon{
  fill: var(--accent-color);
}

.modal-checkbox{
  margin-top: 20px;
  margin-bottom: 30px;
}


.checkbox-icon{
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 14px;
  margin-right: 4px;
  border: 1px solid var(--title-color);
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;

  transition: border-color var(--animation);
}

.checkbox-input:hover + .checkbox-icon{
  border-color: var(--accent-color);
}

.checkbox-input:checked + .checkbox-icon{
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-title{
  padding: 0;
  margin-bottom: 0;
  margin-right: 4px;
}

.checkbox-link{
  color: var(--accent-color);
  transition: color var(--animation);
}

.checkbox-link:hover,
.checkbox-link:focus{
  color: #188ce8;
}










